@charset "UTF-8";

*{margin:0;	padding:0; color:#212529;}
/* html{height:100%;} */
a{text-decoration:none;}

.text-basic{color:#70685C;font-weight: bold;}
.text-basic:hover{color:#efa635;}
.text-basic:active{color:#efa635;}

.btn-basic{
	background-color:#efa635;
	padding:5px 7px;
	border-radius:5px;
	color:white;
	border:none;
	}
.btn-basic:hover{background:#d2850c;}

.btn-cancel{
	background-color:#adb5bd;
	padding:5px 7px;
	border-radius:5px;
	color:white;
	border:none;
	}
.btn-cancel:hover{background:#6c757d ;}

.btn-lt-basic{
	background-color:#f9e7cb;
	padding:5px;
	border-radius:5px 7px;
	color:#efa635;
	border:none;
}
.btn-lt-basic:hover{background:#efa635;color:white;}

.btn-ltsm-basic{
	background-color:#f9e7cb;
 	padding:2px 4px;
 	font-size:0.8rem;
	border-radius:5px;
	color:#efa635;
	border:none;
}
.btn-ltsm-basic:hover{background:#efa635;color:white;}

.btn-sm-blue{
	background-color:#0080c0;
 	padding:2px 4px;
 	font-size:0.8rem;
	border-radius:5px;
	color:white;
	font-weight:bold;
	border:none;
}

.btn-sm-red{
	background-color:#ff5b5b;
 	padding:2px 4px;
 	font-size:0.8rem;
	border-radius:5px;
	color:white;
	font-weight:bold;
	border:none;
}

.btn-sm-green{
	background-color:#008040;
 	padding:2px 4px;
 	font-size:0.8rem;
	border-radius:5px;
	color:white;
	font-weight:bold;
	border:none;
}

.input-basic{
	border:1px solid lightgray;
	border-radius:5px;
	color: #212529;
	padding:2px 1px 2px 10px;
}

/* 네비게이션 */
.logo{cursor:pointer; width:240px;}
.topNv{font-size:0.9rem;}
.md-nav{background-color: #f9e7cb; font-size:1.1rem;}
#search{white-space : nowrap;}
.nav_menu {padding:5px 20px; margin:0}
ul li{list-style-type:none; display:inline-block; margin-right:20px;}

/*추천페이지 슬라이드*/
input[type="radio"]{display:none;}
.swiper-container{
	display:block;
	width:100%;
	height:450px;
	overflow:hidden;
}

/*랭킹페이지 탭*/
input[id*="tab"]+label {
	display:inline-block; padding:10px 20px;
	border-radius:10px 10px 0 0;
	color:#efa635;
	font-size:16px; cursor:pointer;
	font-weight:bold;
	border:solid #f9e7cb;
	border-width:2px 2px 0px 2px;
}
input[id*="tab"]:checked+label {background:#f9e7cb;color:#000;}	
.conbox {width:100%; height:100%; background:#f9e7cb;
	padding:10px; margin:0 auto; display:none; border-radius:0 10px 0 0;}
	
input[id="tab1"]:checked ~ .con1 {display:block;}
input[id="tab2"]:checked ~ .con2 {display:block;}
input[id="tab3"]:checked ~ .con3 {display:block;}

/* 변경버튼 클릭 */
/* #mdPw{display:none;margin:10px;}
#mdPw+label{
	display:inline-block;
	background-color:#f9e7cb;
 	padding:2px 4px;
 	font-size:0.8rem;
	border-radius:5px;
	color:#efa635;
	border:none
} */
input[id*="md"]+label:hover{cursor:pointer;}

div[class*="modi"]{display:none;}
input[id="mdPw"]:checked ~ .modiPw {display:block;}
input[id="mdHp"]:checked ~ .modiHp {display:block;}

/* 메인 영화순위 */
img.card-img-top{height:300px;}
.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
