@charset "UTF-8";
*{
	margin:0;
	padding:0;
}

html{
	height:100%
}
a{text-decoration:none; color:black;}

header{
	background: yellow;;
}

div[id=topMn]:hover{
	cursor: pointer;
	font-weight: bold;
}

#topNv{
	font-size:0.8rem;
}

.nav-item{
	font-weight: bold;
}

.topNv > li{border-right:3px solid lightgray;}


/* .nav-item {
height:5%;
display:inline;
li요소의 좌측에 1px의 테두리 만들기

border-left: 1px solid #c0c0c0;

} */